body {
  background: linear-gradient(
    180deg,
    #1a1f24 0%,
    #232b33 50%,
    #2f3a44 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  min-height: 100vh; 
}
@keyframes glowPulse {
  0% { text-shadow: 0 0 5px #00f0ff; }
  50% { text-shadow: 0 0 15px #00f0ff; }
  100% { text-shadow: 0 0 5px #00f0ff; }
}
h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 800;
    font-size: 70px;
    letter-spacing: 6px;
    margin: 15;
    color: #00f0ff;
    text-shadow: 
    0 0 5px #00f0ff,
    0 0 10px #00f0ff;
    animation: glowPulse 2.5s infinite ease-in-out;
}
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}
.perfil-neon {
    animation: float 4s ease-in-out infinite;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 
        inset 0 0 15px #00F2FF, 
        0 0 15px #00F2FF, 
        0 0 30px #00F2FF;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil-neon img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.imagem {
  display: block;
  margin: 10;
  width: 300px;
  border-radius: 140px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.descricao1 {
    text-align: center;
    color: white;
    font-size: 80px;
    margin-top: 10px;  
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}
.descricao2 {
    text-align: center;
    color: #8F8F8F;
    font-size: 40px;
    margin-top: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}
.botao {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    padding: 30px 50px;
    font-size: 40px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    border: 2px solid #00e1ff;
    background: linear-gradient(135deg, #5f7cff, #6f5bff);
    
    transition: 0.3s ease;
}

.botao:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 225, 255, 0.8);
}
.icone {
    width: 35px;
    height: 35px;
    background: white;
    color: #5f7cff;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.container-botoes {
  display: flex;          
  flex-direction: row;    
  gap: 20px;             
  justify-content: center; 
  align-items: center;     
  margin-top: 20px;      
}
.botao-2 {
    background: linear-gradient(135deg, #2f3a44, #1a1f24);
    border-color: #5f7cff;
}
.icone-img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 50px; 
}
.item-retangulo {
  width: 700px;
  height: 400px;
  border-radius: 50px;
  background-color: #2f3a44;
  border: 4px solid #b0b0b0;
  padding: 40px; 
  display: flex;
  flex-direction: column;      
  justify-content: flex-start; 
  padding-top: 30px    
  align-items: center;       
  text-align: center;
  color: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  box-sizing: border-box;      
}
.item-retangulo:first-child {
  margin-top: 80px;
}

.item-retangulo h1 {
  margin-top: 0;
  font-size: 60px;
  margin-bottom: 15px; /* espaço abaixo do título */
}


.item-retangulo h1 {
  font-size: 60px;
  margin-bottom: 15px;
}

.item-retangulo p {
  font-size: 18px;
  opacity: 0.8;
  margin: 0;
}
.titulo-c1 {
  font-size: 60px;             
  color: white;    
  text-shadow: 
    -1px -1px 1px #103FCE,
     1px -1px 5px #103FCE,
    -1px  1px 10px #103FCE,
     1px  1px 20px #103FCE;    
  margin-top: 0;               
  margin-bottom: 20px;         
  font-family: 'Arial', sans-serif; 
  text-transform: uppercase;  
}
